# ============================================================
# Python
# ============================================================

venv/
.venv/
__pycache__/
*.py[cod]


# ============================================================
# VS Code
# ============================================================

.vscode/


# ============================================================
# Logs
# ============================================================

*.log
homologacao/trainer/logs/


# ============================================================
# Dados do projeto (NÃO versionar)
# ============================================================

homologacao/dados/dataset/
homologacao/dados/dataset_normalizado/
homologacao/dados/dataset_augmented/
homologacao/dados/dataset_camera/
homologacao/temp/


# ============================================================
# Arquivos de treinamento
# ============================================================

homologacao/trainer/datasets/
homologacao/trainer/modelos/


# ============================================================
# Arquivos grandes
# ============================================================

*.mp4
*.npy
*.npz
*.keras
*.h5
*.ckpt